*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(99, 103, 215);
    padding: 385px 0;
    text-align: center;
}
.container > h2{
    font-size: 45px;
    color: rgb(255, 255, 255);
}
.container > h3{
    color: rgb(85, 93, 121);
    font-size: 34px;
}
.container > h5{
    margin-top: 60px;
    font-size: 30px;
    color: rgb(68, 52, 52);
}

